        * {
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
       
       body {
         
            background-image: url("../images/purty_wood_@2X.png")
            

        }

        header {
            border: 2px solid #cccccc;
     
       
            height: 130px;
          
            margin-right: 0 auto;
            border-color: #cccccc;
            cursor: pointer;
            background-color: white;
            position: relative;
            
           
        }  
        

        #wrap {
            margin:0 auto;
            width: 960px;
        }
        /* #pop {
            margin:0 auto;
            width: 960px;
        } */
            
        .dog {
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #4aaaa5;
            font-weight: bold;
            font-size: 2em;
        }    
       

        ul {
            border: 20px;
            padding:30px;
            width: 400px;
            /* margin-top: 0px; */
            /* margin-left: auto; */
            background-color: white;
            float: right;
            position: relative;
            bottom: 115px;
            float:right;
           
            
        }
        li {
            display:inline-block;
            list-style: none;
            color: #777777;
            transition: all;
            
        }
        /* li:hover {
            transform:scale(2);
            color:#FD7607;
        } */

    
        h1 {
           
            border: 2px;
            padding: 50px;
            background-color:#4aaaa5;
            font-weight: bold;
            margin-top:0px;
            /* margin-left: auto; */
            margin: auto;
            display: inline-block;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 35px;
            /* float: right; */
            cursor: cell;
            width: 400px;
            height: 125px;
            text-align: center;
            /* float:left; */
            position: relative;
            
        }

      
/* p{
    background-color:#4aaaa5;
    color: white;
    position: relative;
    text-align: center;
    padding: 10px;
    bottom: 90px;
    width: 280px;
    height: 30px;
    margin-left: 0px;

} */
        section{
            color: #777777;
            border: 5px solid #dddddd;
            margin: 0 auto;
            margin-top: 50px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            width: 960px; 
            height: 800px;; 
            background-color: #ffffff;
           
        }


        p {
            line-height: 40px;
            
            
        }

        img {
            float: left;
            width: 250px;
            height: 250px;
            cursor: crosshair;
            border: 5px solid #FFEEB2;
            transition: 2s;
            margin: 20px 10px;
            top: 50px;
        }

       .itsMe:hover{
        transform: scale(2);
       }


        span {
            font-size: 20px;
        }
     
    
        ul {
            text-align: center;
            font-size: x-large;
            font-weight: bold;
            font-family: 'Georgia', Times, serif;
            /* margin-right: 200px; */
            margin: 0 auto;
        }

        a {
           text-decoration: none ;
        }

        .abc {
            text-align: center;
            color: white;
           
 }
 .cat {
 background-color:#4aaaa5;
 color: white;
 padding: 15px;
width: 115px;
 font-weight: bold;
 font-size: 20px;
 }

 .bird {
background-color:#4aaaa5;
color: white;
}

 input {
 padding: 8px;
  width: 500px;
 border: 1px solid black;
 }
 textarea {
 border: 1px solid black;
}

 .what {
 border:10px solid red;
 float:left;
 position: absolute;
 text-align: center;
}
      
    
    

.pp, .pp1{
   background-color:#4aaaa5;
    color:white;
    position: absolute;
    top: 417px;
    width: 295px;
    height: 50px;
    margin-left: 0.7px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
 
.ppp, .ppp1{
     background-color:#4aaaa5;
    color: white;
    position: absolute;
    top: 647px;
    width: 295px;
    height: 50px;
    margin-left: 0.7px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pppp, .pppp1 {
     background-color:#4aaaa5;
    color: white;
    position: absolute;
    top: 878px;
    width: 295px;
    height: 50px;
    margin-left: 0.7px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.content{
 width: 300px;
 height: 200px;
 border: 5px solid #FFEEB2;
 margin: 15px 0px;
 transition: all 1s;
 /* position: relative; */

}

.content:hover {
    transform: scale(2);
}
.column {
  float: left;
  width: 200%;
  padding: 5px;
  margin:15px 30px;
  height: 200px;
  width:260px;
  /* overflow: auto; */
  /* position: relative; */
 
  
 
 
}



footer{
background-color:#666666;
padding: 10px;
 margin-top: 400px;
border-top: 5px solid #4aaaa5;
text-align: center;
color: white;
clear:both;
 position: relative;

}


 @media screen and (max-width:980px), (max-width:768px) and (max-width:640px) {
 h1 {
 width:100%;
                
 }

 #wrap {
    width:100%;
 }

ul {
 width:100%;
 position: relative;
bottom:20px;
 }
            
  section {
   width: 100%;
   height: 100%;
    margin-top: 16%;
   }
   textarea, input {
       width: 100%;
   }

}


@media screen and (max-width:640px) {
    .pp1 {
    top: 667px;
}
.pp {
    top:436px;
}

.ppp {
    top: 900px;
}
.ppp1{
    top: 89.3%;
}

.pppp {
    top:107.5%;
}

.pppp1{
    top:125.6%;
}
}